.paymentsContainer {
  min-height: calc(100vh - 56px);

  display: flex;
  flex-direction: row;
}

.paymentsContainer .payments_sidebar {
  min-height: calc(100vh - 56px);
  width: 220px;

  box-shadow: 0px 0px 15px #000000;

  padding: 45px 0px 0px 0px;
}

.paymentsContainer .payments_sidebar a {
  display: block;
  width: 100%;
  color: #ffffff;
  text-decoration: none;
  height: 45px;
  font-size: 20px;
  text-align: left;
  padding: 0px 0px 0px 18px;

  display: flex;
  flex-direction: row;
  align-items: center;

  text-transform: capitalize;
}

.paymentsContainer .payments_sidebar a i {
  width: 40px;
}

.paymentsContainer .payments_sidebar .active {
  color: #00a8ff;
  background-color: #2f3640;
}
.paymentsContainer .payments_sidebar .active::before {
  content: "";
  background-color: #00a8ff;
  width: 3px;
  height: 45px;
  position: absolute;
  left: 0px;
}

.paymentsContainer .payments_content {
  min-height: calc(100vh - 56px);
  width: 250px;
  flex: 1;
  padding-top: 25px;
}

.dubmitButton{
    background-color: #487eb0;
    color: #ffffff;
    width: 250px;
}

.payslipimage{

  width:100%;
  height:300px;
  object-fit: cover;
}

.actionbtn{

  color:#ffffff
}

.actionbtn:hover{

  color:#00a8ff
}